<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.player.game.union.h5.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.player.game.union.h5.demo.GameApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/game_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name="com.player.game.union.h5.demo.GameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--是否配置闪屏图-->
        <meta-data
            android:name="Splash"
            android:value="True" />

        <activity
            android:name="com.player.sdk.ui.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/PlayerAppTheme" />

        <activity
            android:name="com.yanzhenjie.permission.bridge.BridgeActivity"
            android:theme="@style/Permission.Theme" />

        <provider
            android:name="com.yanzhenjie.permission.FileProvider"
            android:authorities="${applicationId}.file.path.share"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/permission_file_paths" />
        </provider>

        <meta-data
            android:name="isPhoneRegister"
            android:value="True" />

        <meta-data
            android:name="SlD"
            android:value="True" />

        <!--头条数据上报配置-->
        <meta-data
            android:name="TT"
            android:value="False" />
        <meta-data
            android:name="AppLog_Debug"
            android:value="False" />
        <meta-data
            android:name="AppLog_Aid"
            android:value="0" />
        <meta-data
            android:name="Game_Name"
            android:value="0" />
        <meta-data
            android:name="channel"
            android:value="0" />
        <!--头条数据上报配置-->

        <!--腾讯广点通数据上报配置-->
        <meta-data
            android:name="Gdt"
            android:value="False" />
        <meta-data
            android:name="Gdt_UserActionSetId"
            android:value="0" />
        <meta-data
            android:name="Gdt_AppSecretKey"
            android:value="0" />
        <!--腾讯广点通数据上报配置-->

        <meta-data
            android:name="APPLICATION_PROXY_NAME"
            android:value="com.player.game.union.channel.Channel_DefaultSdk_Application" />
    </application>

</manifest>