<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.player.game.union">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:networkSecurityConfig="@xml/player_network_security_config"
        tools:targetApi="n">
        <activity
            android:name="com.player.sdk.ui.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/PlayerAppTheme" />

        <activity
            android:name="com.pillowcase.normal.tools.permission.ui.PermissionRequestActivity"
            android:theme="@style/PermissionRequestTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/player_file_paths" />
        </provider>

        <provider
            android:name="com.player.sdk.provider.PlayerShareContentProvider"
            android:authorities="${applicationId}.share.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true" />

        <meta-data
            android:name="isPhoneRegister"
            android:value="True" />
        <!-- 头条数据上报配置 -->
        <meta-data
            android:name="TT"
            android:value="False" />
        <meta-data
            android:name="AppLog_Debug"
            android:value="False" />
        <meta-data
            android:name="AppLog_Aid"
            android:value="" />
        <meta-data
            android:name="Game_Name"
            android:value="" />
        <meta-data
            android:name="channel"
            android:value="" />
        <!-- 头条数据上报配置 -->
        <!-- 腾讯广点通数据上报配置 -->
        <meta-data
            android:name="Gdt"
            android:value="False" />
        <meta-data
            android:name="Gdt_UserActionSetId"
            android:value="" />
        <meta-data
            android:name="Gdt_AppSecretKey"
            android:value="" />
        <!-- 腾讯广点通数据上报配置 -->

        <meta-data
            android:name="APPLICATION_PROXY_NAME"
            android:value="com.player.game.union.channel.Channel_DefaultSdk_Application" />
    </application>
</manifest>
